.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-style: italic;
  padding: 0rem clamp(1rem, 2vw, 3rem);
}

.title {
  position: relative;
  font-size: clamp(3rem, 10vw, 4rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  cursor: pointer;
}

.pumpkin {
  position: absolute;
  width: 12%;
  top: -5%;
  right: 10.5%;
}

.subtitle {
  font-size: clamp(1.5rem, 5vw, 2rem);
  text-align: center;
}
